$bubble-white: #f5f5f5;
$primary: #191919;
$secondary: #18d914;
$dark-green: #535353;
$light-black: #131D14;
$dum-grey: #7D7D7D;
$black-grey: #343434;
$light-grey: #d9d9d9;
$card-border: #a9a9a9;
$blue: #2F80ED;
$white: #Ffffff;
$yellow: #F6C64A;
$error: #ff0000;
$dumb-grey: #e3e3e3;

$font-family--primary: 'Satoshi', sans-serif;